<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Money Transfer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
      <ion-list-header class="hydrated" color="secondary">
      <ion-label>Wire</ion-label>
    </ion-list-header>
    <ion-item [routerLink]="'/wire-account'">Wire To Account
      <ion-icon slot="end" name="arrow-round-forward"></ion-icon>
    </ion-item>
    <ion-item [routerLink]="'/wire-iban'">Wire To IBAN
      <ion-icon slot="end" name="arrow-round-forward"></ion-icon>
    </ion-item>
    <ion-list-header class="hydrated" color="secondary">
      <ion-label>EFT</ion-label>
    </ion-list-header>
    <ion-item [routerLink]="'/eft-account'">EFT To Acouunt
      <ion-icon slot="end" name="arrow-round-forward"></ion-icon>
    </ion-item>
    <ion-item [routerLink]="'/eft-iban'">EFT To IBAN
      <ion-icon slot="end" name="arrow-round-forward"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>